<!DOCTYPE html>
<html>
<head>
    <link href="/style.css" rel="stylesheet">
    <title>Foodfy</title>
</head>

<body>

    <div class="container">
        
    <header>
        <div class="links">
            <a href="/" id="logo"><img src="/assets/logo.png" alt="logo"></a>
            <a href="/about" id="strong-about">Sobre</a>
            <a href="/receitas" id="strong-receita">Receitas</a>
        </div>
    </header>

    {% block content %}
    {% endblock %}
    </div>
    <footer class="footer"><p>Todos direitos reservados, receitas Foodfy.</p></footer>

</body>

</html>

